:host {
  display: grid;
  min-height: 100px;
  align-items: center;
  background-color: #eeeded;
  padding: 12px;
  border-radius: 8px;
  grid-template-columns: 72px 1fr;
  grid-gap: 12px;
  box-shadow: 0 1px 4px -1px #888;
  cursor: pointer;
  outline: none;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  border: 2px solid #222121;
  color: #222121;
}

.hint {
  color: #6e6e6e;
}

:host.isAdd {
  color: white;
  background-color: #222121;
}

:host:hover:not(.isAdd) {
  background-color: #dfdbdb;
}

:host.isAdd:hover {
  background-color: rgb(61, 61, 61);
}

:host:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 8px -1px #888;
}

.title {
  font-size: 24px;
}

img {
  width: 72px;
  height: 72px;
  border-radius: 18px;
}