<mat-card>
  <mat-card-title>Dualshock 4</mat-card-title>
  <mat-card-content>
    <!--<ngrc-analog-stick-visualization [data]="(dsData$ | async).left" xlabel="x Axis" ylabel="y Axis"></ngrc-analog-stick-visualization>
    <ngrc-analog-stick-visualization [data]="(dsData$ | async).right"></ngrc-analog-stick-visualization>-->
    <ngrc-ds-visualization [data]="dsData$ | async"></ngrc-ds-visualization>
    <form [formGroup]="dualshockForm" (ngSubmit)="save()">
      <mat-form-field appearance="outline">
        <mat-label>Frequency</mat-label>
        <input matInput type="number" placeholder="Frequency" formControlName="frequency" autocomplete="off"/>
      </mat-form-field>
      <button mat-stroked-button>Save</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="back()">Back</button>
  </mat-card-actions>
</mat-card>