mat-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  justify-content: space-between;
}

ngrc-analog-stick-visualization {
  padding: 8px;
  max-width: 196px;
}

mat-form-field {
  width: 100%;
}