<div class="form" [formGroup]="form">
  <mat-form-field>
    <mat-select formControlName="controller" placeholder="Analog Input">
      <mat-option *ngFor="let option of options" [value]="option.id">{{option.title}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Variation" formControlName="variation" autocomplete="off">
    <span matSuffix>[1/s]</span>
  </mat-form-field>
  <div class="slider">
    <b>Center</b>
    <mat-slider min="0" max="255"></mat-slider>
  </div>
  <div class="invert-checkbox">
    <mat-checkbox formControlName="invert">Invert</mat-checkbox>
  </div>
</div>