/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
}

.code {
  background-color: rgb(70, 67, 67);
  color: white;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  box-sizing: border-box;
  width: 100%;
}

h1, h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

h2 {
  padding-top: 24px;
}
