/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
}

.doc img {
  width: 100%;
  max-width: 800px;
  margin: auto;
}


.doc .code {
  background-color: rgb(70, 67, 67);
  color: #def;
  padding: 16px;
  border-radius: 6px;
  overflow-x: auto;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
}

.doc h1, .doc h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.doc h2 {
  padding-top: 24px;
}

a {
  color: #999;
  text-decoration: none;
}