<mat-form-field>
  <mat-select #model placeholder="Model" [value]="(mapping$ | async)?.model_id">
    <mat-option *ngFor="let model of models$ | async" [value]="model.id">{{model.title}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select #mapping placeholder="Mapping" [disabled]="!model.value" [value]="(mapping$ | async)?.id">
    <mat-option
      *ngFor="let mapping of mappings | filterMappingsByModel:model.value"
      [value]="mapping.id">{{mapping.title}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="select(mapping.value)">Select</button>
<button mat-button (click)="dialogRef.close()">Cancel</button>