::ng-deep pre {
  background-color: rgb(70, 67, 67);
  color: #def;
  padding: 16px;
  border-radius: 6px;
  overflow-x: auto;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
}