<form [formGroup]="modelForm" (ngSubmit)="save(modelForm.value)" enctype="mutlipart/form-data">
  <mat-card>
    <mat-card-content>
      <div class="list">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Model Title</mat-label>
            <input matInput formControlName="title" placeholder="Model Title" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="img-box">
          <input style="display: none" #imgInput type="file" accept="image/*" (change)="onImgChange($event)">
          <div class="preview" *ngIf="preview"><img [src]="preview" (click)="imgInput.click()"></div>
          <div *ngIf="!preview" (click)="imgInput.click()" class="img-placeholder">&#xFF0B; Preview</div>
        </div>
      </div>
      <div class="controls" formArrayName="slots">
        <div *ngFor="let slot of slots.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>Control Name</mat-label>
            <input matInput formControlName="title" placeholder="Control Name" autocomplete="off">
            <button mat-button matSuffix mat-icon-button (click)="removeItem(i)" type="button"><mat-icon>clear</mat-icon></button>
          </mat-form-field>
        </div>
        <button mat-stroked-button (click)="addItem()" type="button" color="accent"><mat-icon>add</mat-icon> Add Control</button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-button (click)="back()"><mat-icon>navigate_before</mat-icon> Back</button>
      <button type="submit" mat-button [disabled]="!modelForm.valid" mat-flat-button><mat-icon>save</mat-icon> Create</button>
    </mat-card-actions>
  </mat-card>
</form>