.flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 48px;
  align-items: center;
}

.logo {
  display: flex;
  place-content: center;
}

.text {
  flex: 3
}

img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
  object-position: center;
}

mat-form-field {
  width: 100%;
}

.plots {
  display: flex;
  margin: 16px 0;
}

.plots > * {
  flex: 1;
  max-width: 200px;
}
