:host {
  display: grid;
  cursor: pointer;
  background-color: #eeeded;
  padding: 12px;
  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  box-shadow: 0 1px 4px -1px #888;
  align-items: center;
  border: 2px solid #222121;
  border-radius: 8px;
  grid-template-columns: 150px 1fr;
  grid-gap: 12px;
  min-height: 100px;
}

:host:hover {
  background-color: #dfdbdb;
  transform: scale(1.05);
  box-shadow: 0 1px 8px -1px #888;
}

.logo {
  flex: 1;
  padding: 0 24px 0 0;
}

.text {
  flex: 3;
}

img {
  width: 100%;
}

h2 {
  margin: 0;
}

.status {
  color: #888;
}