<div class="input mat-typography" [formGroup]="form">
  <div class="input-header">
    <div class="description">
      <button mat-button type="button" (click)="expanded = !expanded" color="primary">
        <mat-icon [class.collapsed]="!expanded">arrow_drop_down</mat-icon> {{title}}
      </button>
    </div>
    <div class="formfields">
      <mat-form-field>
        <mat-select formControlName="type" placeholder="Control Type">
          <mat-option value="direct">Direct</mat-option>
          <mat-option value="relative">Relative</mat-option>
          <mat-option value="threshold">Threshold</mat-option>
          <mat-option value="button">Button</mat-option>
          <mat-option value="copy">Copy</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="port" placeholder="Servo Ports">
          <mat-option *ngFor="let port of ports" [value]="port">{{port}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="expanded" class="input-body">
    <div class="flex">
      <ng-container [ngSwitch]="type">
        <ngrc-config-form-direct *ngSwitchCase="'direct'" [form]="direct"></ngrc-config-form-direct>
        <ngrc-config-form-relative *ngSwitchCase="'relative'" [form]="relative"></ngrc-config-form-relative>
        <ngrc-config-form-button *ngSwitchCase="'button'" [form]="button"></ngrc-config-form-button>
        <ngrc-config-form-threshold *ngSwitchCase="'threshold'" [form]="threshold"></ngrc-config-form-threshold>
        <ngrc-config-form-copy *ngSwitchCase="'copy'" [form]="copy"></ngrc-config-form-copy>
      </ng-container>
      <div class="right" formGroupName="range">
        <mat-slider #min formControlName="min" vertical thumbLabel min="0" [max]="180 - max.value" [value]="0"></mat-slider>
        <ngrc-range-visualization [min]="min.value" [max]="max.value"></ngrc-range-visualization>
        <mat-slider #max formControlName="max" vertical thumbLabel min="0" [max]="180 - min.value" [value]="0"></mat-slider>
      </div>
    </div>
  </div>
</div>