<div class="select-mapping" *ngIf="!(mapping$ | async)">
  <div class="center">
    <h2>No mapping selected!</h2>
    <p>You need to select a mapping before you are able to control your device.</p>
    <button mat-flat-button color="accent" (click)="selectMapping()">Select a mapping</button>
  </div>
</div>
<div class="grid" [class.isLandscape]="isLandscape$ | async" *ngIf="mapping$ | async" >
  <div class="mat-elevation-z1">
    <ngrc-plot-yt [data]="data$ | async"></ngrc-plot-yt>
  </div>
  <div class="mat-elevation-z1">
    <ngrc-stats-widget [stats]="stats$ | async"></ngrc-stats-widget>
  </div>
  <div class="mat-elevation-z1">
    <ngrc-ds-visualization [data]="dsData$ | async"></ngrc-ds-visualization>
  </div>
  <div class="mat-elevation-z1">
    <ngrc-analog-stick-visualization [data]="dsLeft$ | async" xlabel="Left Stick X" ylabel="Left Stick Y"></ngrc-analog-stick-visualization>
  </div>
  <div class="mat-elevation-z1">
    <ngrc-analog-stick-visualization [data]="dsRight$ | async" xlabel="Right Stick X" ylabel="Right Stick Y"></ngrc-analog-stick-visualization>
  </div>
  <div class="mat-elevation-z1">
    
  </div>
</div>