<mat-card *ngIf="!mapping">
  <mat-card-content>
    <h2>Select a mapping</h2>
    <p>You need to select a mapping before you are able to control your device.</p>
  </mat-card-content>
</mat-card>
<div class="grid" [class.isLandscape]="isLandscape$ | async" *ngIf="mapping" >
  <div class="mat-elevation-z1"><ngrc-plot-yt [data]="data$ | async"></ngrc-plot-yt></div>
  <div class="mat-elevation-z1"><ngrc-stats-widget></ngrc-stats-widget></div>
  <div class="mat-elevation-z1"><ngrc-ds-visualization></ngrc-ds-visualization></div>
  <div class="mat-elevation-z1">
    <ngrc-analog-stick-visualization [data]="dsLeft$ | async" xlabel="x Axis" ylabel="Aileron Left"></ngrc-analog-stick-visualization>
  </div>
  <div class="mat-elevation-z1">
    <ngrc-analog-stick-visualization [data]="dsRight$ | async" xlabel="Aileron Left" ylabel="Elevator"></ngrc-analog-stick-visualization>
  </div>
</div>