:host {
  display: flex;
  height: 100%;
}

.grid {
  display: grid;
  flex: 1;
  padding: 12px;
  grid-gap: 12px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.grid.isLandscape {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid > * {
  background-color: #eee;
  overflow: hidden;
}

.select-mapping {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.select-mapping button {
  margin: 12px;
}

.center {
  width: 100%;
  flex: 1;
}